.sconsign.dblite
config.log
.sconf_temp
*.pyc
*.log
.vscode
version.py

# Pytest
tests/.tests
pytest_session.txt
.cache
.pytest_cache
.coverage
.hypothesis
*__pycache__*

# vim
*.swp
.pre-commit-config.yaml
.flake8
.isort.cfg
.mypy.ini

# setuptools
.eggs
*.egg-info
.clang-format
.ruff.toml
towncrier.toml
